body{
    background-image: radial-gradient( #e9fffd , #57c4ff);
    background-size: cover;
    color: #146C94;
}

form{
    
}

fieldset{
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    width: 50vw;    
    background: #DBDFEA;
    padding: 50px 100px;
    border-radius: 20px;
}

form .addcommonqform{
    display: flex;
    justify-content: space-around;
}



form .Ayabutton button{
    transform: translateX(400%);
    width: 10%;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 7px 15px;
}