@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    color: #000000;
    background-color: #F6F1F1;
}

body .header{
    z-index: 10;
    width: 100%;
    height: 80vh;
    background-image: radial-gradient( #E6FFFD , #88d5ff);
    background-size: cover;
    /* background-attachment: fixed; */
    border-radius: 15px;
    clip-path: polygon(0 0 , 100% 0, 100% 85% ,0 100%);
    color: #146C94;
    display: grid;
    grid-template-columns: 1fr  1fr;
    position: relative;
}

body .header h1{
    position: absolute;
    right: 250px;
    margin-top: 125px;
    font-size: 12em;
    font-family: 'Dancing Script', cursive;
    animation: SwipeFromRight .5s ease forwards;
}

body .header img{
    position: absolute;
    left: 150px;
    transform: translateY(0%);
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    animation: SwipeFromLeft 0.5s ease forwards;
}

@keyframes SwipeFromLeft {
    0%{
        transform: translateX(-1000%);
    }

    90%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes SwipeFromRight {
    0%{
        transform: translateX(1000%);
    }

    90%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        background-color: white;
    }

    80%{
        background-color: white;
    }
    100%{
        opacity: 1;
        background-color: B0DAFF;
    }
}

.animate{
    animation: appear 1s ease-in-out forwards;
}

body .common_q{
    z-index: 5;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 2fr;
}

body .common_q .ticket{
    background-color: #B0DAFF;
    border-radius: 15px;
    padding: 15px 10px;
    opacity: 0;
}

body .common_q .ticket:nth-child(3){
    grid-column: span 2;
}

body .common_q .ticket:nth-child(4){
    grid-row: 1/3;
}
body .common_q .ticket .title{
    font-size: 2em;
    font-weight: 800;
}

body .common_q .ticket .body{
    text-align: justify;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .common_q .ticket .addedBy{
    text-align: right;
}

body .footer{
    height: 2em;
    background-color: #B0DAFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}