@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    color: #020d09;
    background-color: #d7f9ed;
}

body .header{
    z-index: 10;
    width: 100%;
    height: 80vh;
    background-image: radial-gradient( #e9fffd , #57c4ff);
    background-size: cover;
    border-radius: 15px;
    clip-path: polygon(0 0 , 100% 0, 100% 85% ,0 100%);
    color: #020d09;
    display: grid;
    grid-template-columns: 1fr  1fr;
    position: relative;
}

body .header h1{
    position: absolute;
    right: 250px;
    margin-top: 125px;
    font-size: 12em;
    font-family: 'Dancing Script', cursive;
    animation: SwipeFromRight .8s ease-in-out forwards;
    user-select: none;
}

body .header img{
    position: absolute;
    left: 150px;
    transform: translateY(0%);
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    animation: SwipeFromLeft .8s ease-in-out forwards;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes SwipeFromLeft {
    0%{
        transform: translateX(-500%);
    }

    90%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes SwipeFromRight {
    0%{
        transform: translateX(500%);
    }

    90%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    80%{
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        opacity: 1;
    }
}

.animate{
    animation: appear 1s ease-in-out forwards;
}

body .common_q{
    z-index: 5;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 2fr;
    user-select: none;
    -webkit-user-drag: none;
}

body .common_q .ticket{
    background-color: #f6fefb;
    border-radius: 15px;
    padding: 15px 10px;
    opacity: 0;
}

body .common_q .ticket:hover{
    background-color: #7ec3ff;
}

body .common_q .ticket:nth-child(3){
    grid-column: span 2;
}

body .common_q .ticket:nth-child(4){
    grid-row: 1/3;
}
body .common_q .ticket .title{
    font-size: 2em;
    font-weight: 800;
}

body .common_q .ticket .body{
    text-align: justify;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .common_q .ticket .addedBy{
    text-align: right;
}

body .footer{
    height: 15em;
    background-color: #f6fefb;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

body .footer .container{
    /* border: black solid 1px; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body .footer .container .contact{
    /* border: black solid 1px; */
    grid-row: 2;
}

body .footer .container .help{
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    grid-column: 2;
    justify-self: center;
}

body .footer .container .copyright{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

body .footer .container .socails{
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}

body .footer .container .socails img{
    margin-inline: 5px;
    
    height: 15px;
    width: 15px;
}