body{
    background-image: radial-gradient( #e9fffd , #57c4ff);
    background-size: cover;
    color: #146C94;
}

body .askedQ{
    margin-bottom: 50px;
}

body .askedQ h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(13, 127, 203);
}

body .askedQ .hideReply{
    position: absolute;
    top: 20%;
    right: 5%; 
}

body .askedQ .AllTickets{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}

body .askedQ .AllTickets .ticket{
    display: flex;
    flex-direction: column;
    background-color: #DBDFEA;
    border-radius: 50px;   
    padding: 20px
}

body .askedQ .AllTickets .ticket:nth-child(3){
    grid-column: 1/3;
    grid-row: 1;
}

body .askedQ .AllTickets .ticket .title{
    
    font-size: 2em;
    font-weight: 800;
}

body .askedQ .AllTickets .ticket .body{
    text-align: justify;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .askedQ .AllTickets .ticket .reply{
    display: none;
    align-self: center;
    text-align: justify;
    font-size: 1.1em;
    padding: 30px;
}

body .askedQ .AllTickets .ticket .button{
    align-self: flex-end;
}

#noReply{
    border-radius: 10px;
    align-self: flex-end;
    box-shadow: 0px 0px;
}




body .raiseT{
    display: none;
    background-color: #DBDFEA;
    border-radius: 50px;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    height: 70vh;
    padding-bottom: 50px;
    position: relative;
}



body .raiseT .raiseTForm {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
}

body .raiseT .raiseTForm fieldset {
    /* padding: 30px 40px; */
}

body .raiseT .raiseTForm fieldset > * {
    margin: 10px 10px;
    border-radius: 10px;
}

body .raiseT .raiseTForm fieldset button{
    padding: 10px 15px;
}

body .raiseT .raiseTForm fieldset select{
    padding: 10px 20px;
}