body nav .rightAlign .profileImage button {
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 8px;
  background: rgb(170, 170, 170);
  color: rgb(255, 255, 255);
  display: none;
  margin: auto;
}

body nav .rightAlign .profileImage button:hover {
  cursor: pointer;
}

body nav .rightAlign .profileImage:hover button {
  display: block;
}

form {
  margin: auto;
  margin-top: 50px;
  width: 70%;
  display: none;
}

input {
  margin: 20px 40px;
  border-radius: 15px;
}

textarea {
  margin: 20px 40px;
  border-radius: 25px;
}

.submit_Button {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 15px;
  background: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
  margin: auto;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 1000px;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

nav .leftAlign {
  display: flex;
  flex-grow: 5;
}

nav .leftAlign:hover {
  cursor: pointer;
}

nav .leftAlign p {
  align-self: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 35px;
}

nav .rightAlign {
  margin-right: 25px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-content: flex-end;
}

nav .rightAlign .profileImage {
  flex-grow: 0;
  height: 80px;
  align-self: center;
  justify-self: center;
}

nav .rightAlign .profileImage:hover {
  cursor: pointer;
}

nav .rightAlign .profileImage img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}

nav .rightAlign p:hover {
  cursor: pointer;
}

nav .rightAlign #logInStatus {
  align-self: center;
  text-align: center;
  /* justify-self: flex-end; */
  flex: 1;
}

.raiseTicket {
  border: 2px solid black;
  flex: 1;
  text-align: center;
  align-self: center;
  padding: 12px 0px;
}






body .common_q{
    background-color: rgb(220, 220, 220);
    border-radius: 50px;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
}

body .common_q .title{
    margin: 20px 40px;
    font-size: 2em;
    font-weight: 800;
}

body .common_q .body{
    text-align: justify;
    width: 30%;
    margin: 0px 75px;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .common_q .addedBy{
    text-align: right;
    width: 40%;
}