body{
    margin-bottom: 200px;
    background-image: radial-gradient( #e9fffd , #57c4ff);
    background-size: cover;
    color: #146C94;
}

body .raiseTForm {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

body .raiseTForm fieldset {
    padding: 30px 40px;
}

body .raiseTForm fieldset > * {
    margin: 10px 10px;
    border-radius: 10px;
}

body .raiseTForm fieldset button{
    padding: 10px 15px;
}