body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 200px;
}

body .common_q{
    display: block;
    background-color: #DBDFEA;
    border-radius: 50px;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
}

body .common_q .title{
    margin: 20px 40px;
    font-size: 2em;
    font-weight: 800;
}

body .common_q .body{
    text-align: justify;
    width: 30%;
    margin: 0px 75px;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .common_q .addedBy{
    text-align: right;
    width: 40%;
}

body .raiseTForm {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

body .raiseTForm fieldset {
    padding: 30px 40px;
}

body .raiseTForm fieldset > * {
    margin: 10px 10px;
    border-radius: 10px;
}

body .raiseTForm fieldset button{
    padding: 10px 15px;
}