body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 200px;
}

body .common_q{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;
}

body .common_q .ticket{
    background-color: #19A7CE;
    border-radius: 15px;
    padding: 15px 10px;
}

body .common_q .ticket:nth-child(3){
    grid-column: span 2;
}

body .common_q .ticket:nth-child(4){
    grid-row: 1/3;
}
body .common_q .ticket .title{
    font-size: 2em;
    font-weight: 800;
}

body .common_q .ticket .body{
    text-align: justify;
    font-size: 1.2em;
    font-style: oblique;
    text-transform: capitalize;
}

body .common_q .ticket .addedBy{
    text-align: right;
}

body .raiseTForm {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

body .raiseTForm fieldset {
    padding: 30px 40px;
}

body .raiseTForm fieldset > * {
    margin: 10px 10px;
    border-radius: 10px;
}

body .raiseTForm fieldset button{
    padding: 10px 15px;
}